@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
h1{
   font-size: 36px;
 }
p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
}

 section:nth-child(even) {
   background-color: #f8f8f8;
 }

 .link_hover_effect::after {
   content: "";
   position: absolute;
   height: 3px;
   background-color: black;
   width: 0%;
   bottom: -3px;
   right: 0;
   transition: all 300ms ease;
 }

.link_hover_effect:hover::after {
  width: 100%;
  left: 0;
}



.personal_logo {
  font-weight: bold;
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
  transition: all 900ms ease;
  animation: personal_logo_anu 800ms 200ms backwards ease-in;
}
 @keyframes personal_logo_anu {
   0% {
     transform: scale(0);
   }

   80% {
     transform: scale(0.8);
   }

   100% {
     transform: scale(1);
   }
 }
 li {
   list-style-type: none ;
 }

 nav {
   height: 100px;
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 12px;

}
 .xetify {
   color: #6030b1
 }
.about-me {
  display: flex;
}

.about_link_anchor {
 margin: 0 12px;
 color: #242424;
 font-weight: 700;
 }
 .about_link_anchor_primary {
   background-color: #6030b1;
   padding: 8px 20px;
   border-radius: 50px;
   color: white;
   transition: all 900ms ease
 }
 .about_link_anchor_primary:hover {
  background-color: #5d3eff

 }

 #nav_bar {
  min-height: 100vh;
  display:flex;
  flex-direction: column;

 }
  .flex {
    display: flex;
  }
  .flex1 {
    flex: 1;
  }

  .about_me_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .about_me_info_container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }
 .my_picture_mask {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
   margin-bottom: 15px;
   animation: profile_picture 800ms 300ms backwards;
 }
 @keyframes profile_picture {
   0% {
     transform: scale(0.0);
   }

   80% {
      transform: scale(1.1);
   }

   100% {
     transform: scale(1);
   }
 }
 .wave {
   display: inline-block;
   animation: emoji_wave 900ms infinite ease-in-out;
 }

 @keyframes emoji_wave {
   0% {
     transform: rotate(0);
   }

   50% {
     transform: rotate(30deg);
   }

   100% {
     transform: rotate(0);
   }
 }
 .my_picture{
   width: 100%;
 }
 .text-purple {
   color: #6030b1;
  }
 .about-me-desc {
   font-size: 20px;
   margin-bottom: 28px;
 }
 .about_me_link {
   color: #242424;
   font-size: 20px;
   padding: 0 16px;
   transition: all 300ms ease;
 }
 .about_me_link:hover{
   opacity: 50%;
 }


 .container {
   padding: 50px 0;
 }
 .row {
   width: 100%;
   max-width: 800px;
   margin: 0 auto;
   padding: 0 12px;
 }
 .about-me-img-container {
   flex: 1;
   display: flex;
   align-items: center;
   padding-top: 32px;
}
 .section__title {
   margin-bottom: 20px;
 }
 .language__img {
   width: 100%;
   max-width: 100px;
   transition: all 300ms ease;
}
.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}
 .language__img--wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 25px 16px;
   transition: all 400ms ease;
}
.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.language_name {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  transform: scale(0);
  transition: all 600ms;
  font-size: 20px;
}

/* LANGUAGE ANIMATION */

.language__img--wrapper:hover {
  filter: brightness(80%);
  opacity: 0.54;
  transform: scale(0.95);
}
.language:hover .language_name {
  transform: scale(0.95);
}
 /* Projects */
.project {
  margin-bottom: 135px;
}
.project__img {
  width: 100%;
  transition: all 500ms ease;
}

.project__wrapper {
  display: flex;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}
 .project:hover .project__description {
   opacity: 1;
   transform: translateY(-50%);
 }
.project__list {
  padding-top: 40px;
}
.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  max-width: 550px;
  opacity: 0;
  z-index: 3;
  transform: translateY(100%);
  transition: transform 450ms, opacity 300ms;
}
.project__description--title{
  font-size: 40px
}

.project__description--para {
  margin: 16px 0;
  font-weight: bolder;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
  
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  text-align: left;
  color: #000000c9;
}

/*FOOTER */

footer {
  background-color: #242424;
}

footer__social--img {
  width: 70px;
  height: 70px;
}

.footer_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0;
}

.footer__social, .footer__copyright, .footer__logo--popper {
  color: #fff;
}

.footer__logo {
  padding-bottom: 20px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700px;
  opacity: 0;
  transition: all 300ms ease;
}

.footer_anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer_anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 26px;
  }

  .about-me-desc {
    font-size: 18px;
  }
  .about-me-img-container {
    transform: scale(0.7);
    padding: -2px 12px;
  }
  .row {
    padding: 0 12px;

  }
}

.footer__social--img {
  filter: brightness(2);
}
